<header class="site-header">
    <div class="brand">
      <img src="/images/site/icon.png" alt="Site Logo">
      <h1>CSE Motors</h1>
    </div>
  
    <div class="header-tagline">
      <span>Drive the Future</span>
    </div>
  </header>